.shop {
    margin-top: 32px;
    background-color: #fff;
    // border: 2px solid red;
    width: 100%;
    // position: relative;
    .is-login {
        height: 50px;
        width: 100vw;
        text-align: center;
        line-height: 50px;
        font-size: 14px;
        transform: translateY(-32px);
        background-color: #f7f7f7;
        
        .to-login {
            color: #ff6700;
            margin-left: 25px;
            cursor: pointer;
        }

        .close {
            margin-left: 15px;
            color: #b0b0b0;
            font-weight: bold;
            cursor: pointer;
        }




    }

    .shop-content {
        width: 1226px;
        margin: 0 auto;

        .commodity {
            .left-swiper {
                width: 560px;
                height: 656px;
                border: 1px solid red;

                .el-carousel {
                    width: 560px;
                }
            }

        }
    }
}